<div class="fourteen wide ten wide tablet seven wide computer column">
  <div class="ui divider hidden"></div>
  <h1>Messages</h1>

  <%= render 'form' %>

  <div id="messages" class="ui comments">
    <%= render @messages %>
  </div>

  <div class="ui divider"></div>
  <div class="ui divider hidden"></div>
</div>
